* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  background-color: #1b1e22;
}

@mixin flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center {
  max-width: 1440px;
  margin: auto;
}

@mixin container {
  max-width: 1128px;
  margin: auto;
}

.header {
  @include center();
  height: 1032px;
  padding-top: 29px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.03) 2.5%,
      rgba(27, 30, 34, 0.4) 42.42%,
      #1b1e22 80.67%
    ),
    url("../images/background.jpg") no-repeat center;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1128px;
  margin: 0 auto 77px;
}

.header-top__right {
  // @include flex-box();
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 292px;
}

.header-top__lang {
  @include flex-box();
  width: 100%;
  max-width: 76px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  list-style-type: none;
}

.other-lang a {
  color: rgba(196, 196, 196, 0.5);
}

.lang {
  color: #ffffff;
  text-decoration: none;
}

.nav {
  @include flex-box();
  width: 100%;
  max-width: 657px;
  font-size: 18px;
  line-height: 32px;
}

.nav-list {
  @include flex-box();
  width: 100%;
  max-width: 476px;
}

.nav-list__item {
  list-style-type: none;
}

.nav-list__link {
  color: #ffffff;
  text-decoration: none;
}

.nav__help {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 146px;
  height: 48px;
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;
  background: none;
  color: #ffffff;
  border: 1px solid #ffb800;
  border-radius: 10px;
}

.banner {
  @include flex-box();
  max-width: 1205px;
  margin: 0 auto 208px;
}

.banner-text__title {
  max-width: 585px;
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

.banner-text__action {
  max-width: 474px;
  font-size: 20px;
  line-height: 38px;
}

.banner-search {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 54px 70px 52px;
  // background: inherit;
  // filter: blur(24px);
  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);
  // border: 2px solid yellow;
  border-radius: 10px;
  // background: rgba(51, 51, 51, 0.25);
  // box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
}

.banner-search__title {
  margin-bottom: 23px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 21px;
}

.input {
  width: 100%;
  padding: 9px 0 9px 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  line-height: 16px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  caret-color: #ffffff;
}

.input::placeholder {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  line-height: 16px;
}

.label {
  display: none;
}

.form__where {
  max-width: 360px;
}

.form__when {
  max-width: 168px;
}

.form__duration {
  max-width: 168px;
}

.form__tour-type {
  max-width: 360px;
}

.form__find {
  width: 100%;
  max-width: 360px;
  padding: 6px 0;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: #ffb800;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include container();
}

.advantages__title {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 34px;
  font-style: normal;
  line-height: 38px;
}

.advantages-description {
  display: flex;
  justify-content: space-between;
}

.advantage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 264px;
}

.advantage__image {
  margin-bottom: 17px;
}

.advantage__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto 72px;
}

.directions__title {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
}

.directions-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.direction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 360px;
  height: 432px;
  margin: 12px;
  background: #23282f;
  border-radius: 4px;
}

.direction:hover {
  max-width: 384px;
  height: 456px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.5s;

  .direction__image {
    width: 384px;
    height: 228px;
    transition: 0.5s;
  }

  .direction__title {
    margin: 0 32px;
    transition: 0.5s;
  }

  .direction__title {
    color: #333333;
  }

  .direction__description {
    margin: 0 32px;
    transition: 0.5s;
  }

  .direction__description {
    color: #333333;
  }

  .direction__details {
    margin: 0 32px 33px;
    color: #000000;
    transition: 0.5s;
  }
}

.direction:not(:hover) {
  transition: 0.5s;

  .direction__image,
  .direction__title,
  .direction__description,
  .direction__details {
    transition: 0.5s;
  }
}

.direction__title {
  margin: 0 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.direction__description {
  margin: 0 20px;
  font-size: 14px;
  line-height: 20px;
}

.direction__details {
  margin: 0 20px 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
}

.button {
  width: 100%;
  max-width: 216px;
  height: 48px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  background: none;
  border: 1px solid #ffb800;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: #000000;
  background: #ffb800;
}

.statistics {
  margin-bottom: 62px;
  padding: 59px 0 68px;
  background: url("/images/statistics-background.jpg") no-repeat center;
}

.statistics-content {
  display: flex;
  justify-content: space-between;

  @include container();
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data__number {
  margin-bottom: 22px;
  color: #ffb800;
  font-weight: 500;
  font-size: 78px;
  line-height: 58px;
}

.data__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container();
}

.blog__title {
  margin-bottom: 44px;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
}

.blog__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;
}

.ten-places {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 552px;
  background: url("/images/blog-10-places.jpg") no-repeat center;
  border-radius: 4px;
}

.ten-places__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  margin: 51px 15px 28px;
}

.date {
  font-size: 13px;
  line-height: 16px;
}

.travel-bloger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 264px;
  background: #23282f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 480px;
}

.travel-bloger__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0 20px;
}

.travel-bloger__description {
  font-size: 14px;
  line-height: 20px;
  mix-blend-mode: normal;
  margin: 0 20px;
}

.lifehacks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 264px;
  background: #23282f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 480px;
}

.lifehacks__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0 20px;
}

.lifehacks__description {
  font-size: 14px;
  line-height: 20px;
  mix-blend-mode: normal;
  margin: 0 20px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px;
  font-size: 13px;
  line-height: 16px;
}

.feedback {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 92px;
}

.comments {
  display: flex;
}
.likes {
  display: flex;
}
